<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Bad Kangaroo's Awesome Todo List!</h1>

  <form action = "/todo/add" method="post">
  <input id = "new" type = "text" name="newtodo" placeholder="New ToDo">
  <button type = "submit" name="submit">Update</button><br>
</form>

{{#todos}}
<form action="/todo/complete" method="post">
  <input type="hidden" name="id" value="{{id}}">
  <button type="submit" name="button" class="checked">Mark as Complete</button> {{newtodo}}
</form><br>

{{/todos}}

<h4>Completed Tasks:</h4>

  {{#completed}}
  <p>{{newtodo}}</p>
  {{/completed}}

</body>
</html>
